<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
		</Console>
		
		<!-- Alternative: ZIP on shutdown with exact timestamp -->
		<RollingFile name="File" ileName="logs/latest.log" filePattern="logs/log-%d{yyyy-MM-dd-HH-mm-ss}.zip">
			<!-- Decided to go with only Hour Min Sec Nano, since file name contains year month day -->
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
			<Policies>
				<OnStartupTriggeringPolicy/>
			</Policies>
			<!-- This will create the zip if tries to write into the "latest.log" file, but only on the NEXT app run -->
			<!-- Keep only the last 11 files -->
			<DefaultRolloverStrategy max="11">
				<!-- Explicit delete action -->
				<Delete basePath="logs" maxDepth="1">
					<IfFileName glob="log-*.zip">
						<IfAccumulatedFileCount exceeds="11"/>
					</IfFileName>
				</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>
	
	</Appenders>
	<Loggers>
		<!-- logger for the image package -->
		<Logger name="modforge.image" level="DEBUG" additivity="false">
			<AppenderRef ref="Console"/>
			<AppenderRef ref="File"/>
		</Logger>
		
		<!-- Basic global logger -->
		<Logger name="modforge" level="DEBUG" additivity="false">
			<AppenderRef ref="Console"/>
			<AppenderRef ref="File"/>
		</Logger>
		
		<!-- Basic console logger -->
		<Root level="INFO">
			<AppenderRef ref="Console"/>
			<AppenderRef ref="File"/>
		</Root>
	</Loggers>
</Configuration>
